{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Deborah Grace</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>The author enjoys bringing in lazy thoughts to life through words and grammar-ruled sentences. She moves within different spaces, lives within four walls and pretty much does nothing useful to the environment with her existence. However, she pours out her overthinking skills onto a canvas called “Scribbled Notions” to give them life. Within her blank words live deeper meanings unraveled with every reading. She introduces supreme characters and life experiences to her blogs just to prove she isn’t a bot.</p>
        <p>Here, everyday thoughts and experiences are presented with a touch of flavor and reality. Enjoy reading the mind boggling journey of the author in her digital journal.</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}